@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl font-bold mt-8 mb-4;
    }

    h2 {
        @apply text-xl font-bold mt-8 mb-4;
    }

    h3 {
        @apply text-lg font-bold mt-8 mb-4;
    }

    p {
        @apply mt-4;
    }
}

/* 
|-----------------------------------
            NAVBAR
|-----------------------------------
*/

.btn-hover::after{
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}
.btn-hover:hover::after{
    transform: scale(1, 1);
}

/* 
|-----------------------------------
            DEBUGGEN
|-----------------------------------
*/
.debuggen{
    border: 1px solid limegreen;
}